/* 變數 */
:root {
    --red: #ff5858;
    --blue: #43a4ff;
    --green: #3dc96b;
    --yellow: #fcff53;
    --orange: #ffb845;
    --dark: #222;
    --light: #dcdcdc;
    --black: #000;
    --white: #fff;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before {
    content:'';
}
html {
    scroll-behavior: smooth;
}
table {
    border-collapse: collapse;
}
/* global style */
body {
    font-family: 'Segoe UI','微軟正黑體';
}
img {
    width: 100%;
}
/* Button */
.btn {
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 15px;
    border: 0;
    text-decoration: none;
    background-color: var(--btn-bg,var(--light));
    color: var(--btn-text,var(--dark));
    border-radius: 5px;
    transition:background-color 400ms, color 400ms;
}
.btn-red {
    --btn-bg: var(--red);
}
.btn-blue {
    --btn-bg: var(--blue);
}
.btn-green {
    --btn-bg: var(--green);
}
.btn-yellow {
    --btn-bg: var(--yellow);
}
.btn-orange {
    --btn-bg: var(--orange);
}
.btn-dark {
    --btn-bg: var(--dark);
}
.btn-red:hover {
    --btn-bg:#f39595;
}
.btn-blue:hover {
    --btn-bg:#8bcdf3;
}
.btn-green:hover {
    --btn-bg:#5ee19f;
}
.btn-yellow:hover {
    --btn-bg:#f8ee82;
}
.btn-orange:hover {
    --btn-bg:#f2dc5f;
}
.btn-dark:hover {
    --btn-bg:#434343;
}