/* NAV */
nav {
    width: 100%;
    /* height: 60px; */
    background-color: rgb(30 30 30 / .8);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: fixed;
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .5);
}
nav a {
    text-decoration: none;
    color: #eee;
}
.nav-group {
    /* display: flex; */
    display: none;
    flex-direction: column;
    width: 100%;
}
.nav-logo {
    padding: 18px 10px;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav-menu:nth-child(2){
    /* margin-left: auto; */
}
.nav-link {
    display: inline-block;
    padding: 12px 10px;
    border-radius: 5px;
}
/* .nav-link:hover {
    background-color: var(--orange);
    color: var(--dark);
} */
.nav-toggle {
    position: absolute;
    right: 12px;
    top: 18px;
}
@media(min-width: 520px){
    /* NAV */
    nav {
        width: 100%;
        height: 60px;
        background-color: rgb(30 30 30 / .8);
        backdrop-filter: blur(6px);
        display: flex;
        align-items: center;
        flex-direction: row;
        position: fixed;
        z-index: 999;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / .5);
    }
    nav a {
        text-decoration: none;
        color: #eee;
    }
    .nav-group {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-logo {
        padding: 0 10px;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .nav-menu:nth-child(2){
        margin-left: auto;
    }
    .nav-link {
        display: inline-block;
        padding: 12px 10px;
        border-radius: 5px;
    }
    .nav-link:hover {
        background-color: var(--orange);
        color: var(--dark);
    }
    .nav-toggle {
        display: none;
    }
}
/* HEADER */
header {
    width: 100%;
    height: calc(80vh + 10vw);
    /* padding-bottom: 60%; */
    /* padding-top: 300px; */
    /* padding-bottom: 300px; */
    background-image: url('https://picsum.photos/id/77/1600/1000');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    clip-path: polygon(0 0 , 100% 0 ,100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    z-index: 11;
}
.header-content {
    background-color: #ffffff65;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    /* position: absolute;
    top: 50%;

    transform: translateY(-50%); */

    margin-bottom: 10vw;

}
.header-content h1 {
    font-size: 60px;
    line-height: 3.2rem;
    margin-bottom: 12px;
}
.header-content p {
    font-size: 16px;
    margin-bottom: 12px;
}
@media(min-width: 520px){
    header {
        height: calc(100vh + 10vw);
    }
    .header-content h1 {
        font-size: 80px;
        line-height: initial;
        margin-bottom: 0;
    }   
    .header-content p {
        font-size: 20px;
    }
}

/* about */
#about {
    padding-top:250px;
    padding-bottom: 250px;
    background-color: #FDF6EC;
    clip-path: polygon(0 0 , 100% 0 ,100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    position: relative;
    z-index: 10;
}
#about h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#about h3 {
    font-size: 1.8rem;
}
#about p {
    margin: 15px 0;
    line-height: 1.7;
}
@media(max-width:960px){
    #about .col-lg-4.col-12 {
        text-align: center;
    }
}
/* service */
#service {
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #F3E9DD;
    position: relative;
    clip-path: polygon(0 0 , 100% 0 ,100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    z-index: 9;
    text-align: center;

}
#service h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#service h3 {
    font-size: 1.8rem;
    margin-top: 25px;
}
#service i {
    color: var(--red);
}
#service p {
    margin: 15px 0;
    line-height: 1.7;
}
@media(max-width: 520px){
    #service .col-lg-3.col-md-6.col-12 {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}
/* product */
#product {
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #FDF6EC;
    clip-path: polygon(0 0 , 100% 0 ,100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    position: relative;
    z-index: 8;
}
#product h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
.product-item {
    border: 1px solid #c0ac93;
    border-radius:6px;
    overflow: hidden;
    background-color: #fffdfa;

}
.product-item:hover {
    box-shadow: 2px 2px 12px 0px rgb(0 0 0 /.2);

}
.product-content {
    padding: 15px 15px 60px;
    position: relative;
}
.product-content h3 {
    font-size: 1.5rem;
}
.product-content p {
    margin: 15px 0;
}
.product-content a {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
/* contact */
#contact {
    padding-top: 250px;
    padding-bottom: 100px;
    background-color: #F3E9DD;
}
#contact h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#contact .row {
    justify-content: center;
}
.form-label {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c0ac93;
    outline: 0;
}
.form-control:focus {
    outline-offset: 0px;
    outline-color: #e9b16b;
    outline-width: 2px;
    outline-style: solid;
}
textarea.form-control {
    height: 300px;
}
input[type="email"]{
    border-color: #f00;
}
/* footer */

footer {

    padding-block:20px;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
}
/* gotop */
.gotop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: var(--red);
    z-index: 999;
}