/* NAV */
nav {
    width: 100%;
    height: 60px;
    background-color: #222;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #eee;
}
.nav-group {
    display: flex;
    width: 100%;
}
.nav-logo {
    padding: 0 10px;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-menu:nth-child(2){
    margin-left: auto;
}
.nav-link {
    display: inline-block;
    padding: 12px 10px;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: var(--orange);
    color: var(--dark);
}
/* HEADER */
header {
    width: 100%;
    height: 650px;
    /* padding-bottom: 60%; */
    /* padding-top: 300px; */
    /* padding-bottom: 300px; */
    background-image: url('https://picsum.photos/id/77/1600/1000');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    /* position: relative; */
}
.header-content {
    background-color: #ffffff65;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    /* position: absolute;
    top: 50%;

    transform: translateY(-50%); */

}
.header-content h1 {
    font-size: 80px;
}
.header-content p {
    font-size: 20px;
}
/* about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F3E9DD;
}
#about h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#about h3 {
    font-size: 1.8rem;
}
#about p {
    margin: 15px 0;
    line-height: 1.7;
}
/* service */
#service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FDF6EC;
}
#service h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#service h3 {
    font-size: 1.8rem;
    margin-top: 25px;
}
#service i {
    color: var(--red);
}
#service p {
    margin: 15px 0;
    line-height: 1.7;
}
#service .col-3 {
    text-align: center;
}
/* product */
#product {
    padding-top: 100px;
    padding-bottom: 100px;
}
#product h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
.product-item {
    border: 1px solid var(--light);
    border-radius:6px;
    overflow: hidden;

}
.product-item:hover {
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,.2);

}
.product-content {
    padding: 15px 15px 60px;
    position: relative;
}
.product-content h3 {
    font-size: 1.5rem;
}
.product-content p {
    margin: 15px 0;
}
.product-content a {
    position: absolute;
    right: 15px;
    bottom: 15px;
}